<div class="container" style="width: 100%;text-align:left">
<div class="page-header">
    <h2>Betting Highlights</h2>
    <small><p>NFL: The NFL regular season starts in September and ends in January. The 2018 NFL schedule is out, and the Super Bowl champion Philadelphia Eagles kick off the regular season against the Atlanta Falcons on Thursday, Sept. 6. The first Monday Night Football game of the season? The New York Jets will host the Detroit Lions on Sept. 10.</p></small>
    <small><p>Super Bowl: Super Bowl LIII, the 53rd Super Bowl and the 49th modern-era National Football League (NFL) championship game, will decide the league champion for the 2018 NFL season. Super Bowl 2019 is scheduled to be played on February 3, 2019, at Mercedes-Benz Stadium in Atlanta, Georgia..</p></small>
    <small><p>We've got you covered every day of the NFL season with our betting tips section including tips for every single game with expert views.</p></small>
</div>
<div class="page-header">
    <h2>Who we are</h2>
    <small><p>Launched in 2017, Best NFL Betting Sites is a leading betting and odds comparison site. We partner only with the best and most trusted brands in the industry, and support real-time price updates, offers and promotions. We give you, the user, the power and control to find the best betting sites for you. And, don’t forget, our site is 100% free to use. We don’t take a penny from you. We simply ensure you place the right bet at the best value.</p></small>
<div class="row" style="text-align:center">
  <div class="col-lg-4" style="margin-top:20px">
    <img style="max-width:200px; max-height:200px;" src="{{ url_for('static', filename='images/highlights-arrow.jpg') }}" alt="Best Odds">
    <h2>Best Odds</h2>
      <small><p>We search across multiple betting sites to provide the best odds, providing real time prices from the top US Betting Sites.</p></small>
    <p><a class="btn btn-secondary" href="#" role="button">Bet Now »</a></p>
  </div>
  <div class="col-lg-4" style="margin-top:20px">
    <img style="max-width:200px; max-height:200px;" src="{{ url_for('static', filename='images/highlights-rocket.jpg') }}" alt="Best Betting Offers">
    <h2>Better Offers</h2>
      <small><p>We partner with major US Betting Sites to find you exclusive and best offers from trustworthy, reputable Betting Sites.</p></small>
    <p><a class="btn btn-secondary" href="#" role="button">Find Best Offers »</a></p>
  </div>
  <div class="col-lg-4" style="margin-top:20px">
    <img style="max-width:200px; max-height:200px;" src="{{ url_for('static', filename='images/highlights-lightbulb.jpg') }}" alt="Best Odds">
    <h2>Unique Insight</h2>
      <small><p>We help you pick winners by providing expert tips and insights from those in the know. Make sure you’re always on the front foot with your betting.</p></small>
    <p><a class="btn btn-secondary" href="#" role="button">Bet Now »</a></p>
  </div>
</div>
</div>
</div>