<div class="container" id="latest-news" style="width: 80%; margin-bottom:0px;">
<div class="page-header" style="text-align:left; margin-bottom:5px;">
    <h2>Highest Rated</h2>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="Draft Kings Top Rated" src="{{ url_for('static', filename='images/draft-king-top-rated.jpg') }}" style="height: 242px; width: 236px; display: block;">
      <div class="caption">
        <h3>Draft Kings Sportsbook</h3>
        <p>Sign up and start betting on a safe and secure betting platform or register for updates in your state.</p>
        <p><span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-asterisk"></span> Rated</p>
        <p><a href="#" class="btn btn-primary" role="button">Bet Now</a> <a href="#" class="btn btn-default" role="button">Find Out More</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="Draft Kings Top Rated" src="{{ url_for('static', filename='images/bet-online-top-rated.jpg') }}" style="height: 242px; width: 236px; display: block;">
      <div class="caption">
        <h3>Bet Online</h3>
        <p>Arguably our most popular and well-known provide. Bet Online provide markets for all major sporting events.</p>
        <p><span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-asterisk"></span> Rated</p>
        <p><a href="#" class="btn btn-primary" role="button">Bet Now</a> <a href="#" class="btn btn-default" role="button">Find Out More</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="Draft Kings Top Rated" src="{{ url_for('static', filename='images/my-bookie-top-rated.jpg') }}" style="height: 242px; width: 236px; display: block;">
      <div class="caption">
        <h3>My Bookie Sportsbook</h3>
        <p>MyBookie bonuses are very generous, and we use them to reward both our new and loyal clients. Sign up and bet today.</p>
        <p><span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-asterisk"></span><span class="glyphicon glyphicon-asterisk"></span> Rated</p>
        <p><a href="#" class="btn btn-primary" role="button">Bet Now</a> <a href="#" class="btn btn-default" role="button">Find Out More</a></p>
      </div>
    </div>
  </div>
</div>
  <hr class="featurette-divider">
</div>

