<!-- Start of second Navigation -->
<nav class="navbar navbar-default" style="width:80%;margin-top:5px;">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/bovada"><button type="button" class="btn btn-black">Bovada</button></a></li>
      <li role="presentation"><a href="/draftkings"><button type="button" class="btn btn-success">Draft Kings Sportsbook</button></a></li>
      <li role="presentation"><a href="/william-hill-us"><button type="button" class="btn btn-primary">William Hill U.S.</button></a></li>
      <li role="presentation"><a href="/intertops"><button type="button" class="btn btn-black">Intertops</button></a></li>
      <li role="presentation"><a href="/mybookie"><button type="button" class="btn btn-warning">MyBookie</button></a></li>
      <li role="presentation"><a href="/bet-online"><button type="button" class="btn btn-danger">BetOnline</button></a></li>
      <li role="presentation"><a href="/bookmaker"><button type="button" class="btn btn-black">Bookmaker.eu</button></a></li>
      <li role="presentation"><a href="/5dimes"><button type="button" class="btn btn-black">5Dimes</button></a></li>
    </ul>
</nav>
<!-- End of second Navigation -->