<div class="container" id="small-comparison-table" style="width: 200px; display:block; float:right;" align="right">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Site</th>
          <th scope="col">Offer</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>
          <a href="/">
              <img style="max-width:90px; max-width:80px;" src="{{ url_for('static', filename='images/large-table-icons/bovada.jpg') }}" alt="Bovada Online Sports Betting">
          </a>
          </td>

          <td><a href="/"><button type="button" class="btn btn-success">Up To $250</button></a></td>
        </tr>
        <tr>

          <td>
          <a href="/">
              <img style="max-width:90px; max-width:80px;" src="{{ url_for('static', filename='images/large-table-icons/bookmaker.jpg') }}" alt="Bookmaker.eu Online Sports Betting">
          </a>
          </td>

          <td><a href="/"><button type="button" class="btn btn-success">Up To $1000</button></a></td>
        </tr>
        <tr>

          <td>
          <a href="/">
              <img style="max-width:90px; max-width:80px;" src="{{ url_for('static', filename='images/large-table-icons/intertops.jpg') }}" alt="Intertops Online Sports Betting">
          </a>
          </td>

          <td><a href="/"><button type="button" class="btn btn-success">Up To $100</button></a></td>
        </tr>
       <tr>

          <td>
          <a href="/">
              <img style="max-width:90px; max-width:80px;" src="{{ url_for('static', filename='images/large-table-icons/intertops.jpg') }}" alt="Intertops Online Sports Betting">
          </a>
          </td>

          <td><a href="/"><button type="button" class="btn btn-success">Up To $100</button></a></td>
        </tr>
        <tr>

          <td>
          <a href="/">
              <img style="max-width:90px; max-width:80px;" src="{{ url_for('static', filename='images/large-table-icons/william-hill-us.jpg') }}" alt="William Hill Online Sports Betting">
          </a>
          </td>

          <td><a href="/"><button type="button" class="btn btn-success">Up To $100</button></a></td>
        </tr>
        <tr>

          <td>
          <a href="/">
              <img style="max-width:90px; max-width:80px;" src="{{ url_for('static', filename='images/large-table-icons/draft-kings.jpg') }}" alt="DraftKings Online Sports Betting">
          </a>
          </td>

          <td><a href="/"><button type="button" class="btn btn-success">Up To $200</button></a></td>
        </tr>
      </tbody>
    </table>
</div>