<div class="container" id="latest-offers" style="width: 80%; margin-bottom:0px">
  <div class="page-header" style="text-align:left; margin-bottom:5px;">
    <h2>Latest Offers</h2>
  </div>
<div class="row">
  <div class="col-lg-4">
    <img class="rounded-circle" src="{{ url_for('static', filename='images/bovada-sportsbook.jpg') }}" alt="Bovada New Sign Up Offer" width="250" height="250">
    <h2>Bovada<small>&#153;</small></h2>
    <p>100% Up To £100 In Bet Credits.<br />Get Up to £100 in Bet Credits.<br />New Customers Only.</p>
    <p><a class="btn btn-secondary" href="#" role="button">Claim Now »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="rounded-circle" src="{{ url_for('static', filename='images/draft-king-sportsbook.jpg') }}" alt="Draft Kings New Sign Up Offer" width="250" height="250">
    <h2>Draft Kings<small>&#153;</small></h2>
    <p>Receive $10 DK Dollars. <br />The term Matched Bonus indicates the betting site will match your deposit to 100%.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View Deposit Match Bonus »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
        <img class="rounded-circle" src="{{ url_for('static', filename='images/intertops-sportsbook.jpg') }}" alt="Intertops New Sign Up Offer" width="250" height="250">
    <h2>Intertops<small>&#153;</small></h2>
    <p>Get 100% up to $100 Bonus use code ROOKIE100. The bonus code must be redeemed immediately after the deposit and before any wager has been placed.
The bonus and the deposit need to be rolled over 6x at min. odds of -200 (1.5) before a payout is possible
Max. $100 of every bet count towards the rollover.</p>
    <p><a class="btn btn-secondary" href="#" role="button">Sign Up Now Using ROOKIE100 »</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<hr class="featurette-divider">